@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
:root {
  --primary-color: orange;
  --secondary-color: tomato;
}

html,
body {
  font-family: 'Castoro', serif;
  color: #111;
}

/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 60px;
}
p {
  font-size: 20px;
}
section {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width p {
  margin-bottom: 40px;
}
.half-width img {
  width: 80%;
  transition: all 0.2s ease-in-out;
}
.half-width img:hover {
  transform: scale(1.1);
}
.half-width .color-orange {
  color: var(--primary-color);
}
.half-width .link-button {
  text-decoration: none;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  border-radius: 24px;
  padding: 15px 40px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.link-button:hover {
  box-shadow: -11px 13px 14px 0px rgba(224, 148, 64, 0.76);
  -webkit-box-shadow: -11px 13px 14px 0px rgba(224, 148, 64, 0.76);
  -moz-box-shadow: -11px 13px 14px 0px rgba(224, 148, 64, 0.76);
}
/* MEDIA QUERY */
@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
  section {
    height: 50vh;
  }
  .link-button {
    font-weight: 400;
    font-size: 15px;
  }
}
